* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



.btn {
  min-width: 12rem;
  background-color: indigo;
  color: #fff;
  }
  .btn.ant-btn:hover {
  background-color: indigo;
  color: #fff;
  opacity: 0.9;
  }
  .btn.ant-btn:disabled {
  background-color: indigo;
  color: #fff;
  opacity: 0.3;
  }
  
  .btn-dashed.ant-btn:hover {
  border: 1px dashed indigo;
   color: indigo;
  }
  .connection-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .connect-btn {
    width: 20vw;
    display: block;
  }
  .game-title.ant-typography {
    display: block;
    text-align: center;
    padding: 3rem;
    background-color:indigo;
    color: #fff;
  }
  .moves-title.ant-typography{
    text-align: center;
    color: indigo;
  }
  .moves-container {
    width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
    }
    .game-details {
      width: 40vw;
      margin:0 auto;
      padding: 2rem;
    }
    .title.ant-typography {
      color: indigo;
    }
  .stake-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      margin-block:2rem;
  }
  
  .start-btn {
    width: 50%;
    display: block;
    margin: 2rem auto;
  }
  /* Layout */
  .layout-container{
    text-align: center;
  }
  .connection-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .connect-btn {
    width: 20vw;
    display: block;
  }
  /* Sign Button */
  .sign-btn-container:not(.disabled) .ant-image:hover {
    cursor: pointer;
    transform: scale(1.2);opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .sign-btn-container .ant-image {
    opacity: 0.3;
  }
  
  .sign-btn-container.selected .ant-image {
    transform: scale(1.2);opacity: 1;
  }
  /* Modal */
  .rps-modal  .ant-modal-content{
    padding: 0;
  }
  
  .rps-modal .ant-modal-header{
    background-color: indigo;
    padding: 1rem;
    text-align: center;
  }
  .rps-modal .ant-modal-title{
    color: #fff;
  }
  .rps-modal .ant-modal-body,.rps-modal  .ant-modal-footer {
    padding: 1.5rem;
  }
  
  
  .rps-modal .ant-btn-default:hover {
    border: 1px solid indigo;
    color: indigo;
  }
  .rps-modal .ant-btn-primary {
    background-color: indigo;
    color: #fff;
  }
  .rps-modal .ant-btn-primary:hover {
    background-color: indigo;
    color: #fff;
    opacity: 0.9;
  }
  .OpponentGame-container .btn{
    display: block;
    margin: 3rem auto;
  }
  .PlayerGame-container {
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    gap: 1rem;
  }